@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>
    Shopping is always beneficial because every time you shop for something you get something right?
    Although you get that in exchange for money.
    But the joy you get while shopping is nothing in the place of money.

    ONLINE SHOPPING CART SYSTEM app makes our life bit easier with the best online shopping experience
</p>
