@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    ANDHRAPRADESH<br />
    Tuni-533401<br />
    <abbr title="Phone">P:</abbr>
    8309471113
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:Support@example.com">PACTSupport@example.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">PACTMarketing@example.com</a>
</address>