@{
    ViewBag.Title = "Home Page";
}


<h1 class="text-success">P A C T</h1>
<br />
<p class="lead text-danger">P A C T, is a ECommerce website which is used to buy and sell the products, it is a communication between buyer and seller.</p>
<br />
<p><a href="" class="btn btn-warning btn-lg">Order Now &raquo;</a></p>