
@{
    ViewBag.Title = "HomePage";
}

<style type="text/css">
    body {
        background-image: url('../Images/kl.jpg');
        background-position: inherit;
        background-repeat: no-repeat;
        background-size: cover;
        align-items: center;
        font-family: sans-serif;
        margin-top: 40px
    }
</style>

<h1 style="text-align: center">P      A      C      T</h1>
<h6 style="text-align: center">Surprise yourself and someone you love with this delightful collection of gifts</h6>
<div>
    @Html.ActionLink("Registartion", "Registration") |
</div>

<div>
    @Html.ActionLink("Login", "LoginUser") |
</div>


