
@{
    ViewBag.Title = "HomePage";
}

    <style type="text/css">
        body {
            background-image: url('../Images/kl.jpg');
            background-position: inherit;
            background-repeat: no-repeat;
            background-size: cover;
            align-items: center;
            font-family:sans-serif;
            margin-top:40px
        }
    </style>

    <h1 style="text-align: center">ONLINE SHOPPING CART SYSTEM</h1>

    <div>
        @Html.ActionLink("Registartion", "Registration") |
    </div>

    <div>
        @Html.ActionLink("Login", "LoginUserZ") |
    </div>


